.ink-color-container {
  transition: all 0.5s ease;
  border-radius: 5px;
  border: 1px solid clr('border');
  &:hover {
    box-shadow: 0px 4px 20px clr('shadow');
    border-color: transparent;
    .--only-on-parent-hover {
      display: inherit !important;
    }
  }
  &.ink-view-thin {
    margin-bottom: 0;
    .ink-color-sticker {
      padding: 1rem 0;
    }
    .ink-color {
      height: 1rem !important;
      border-radius: 0;
      box-shadow: none;
    }
    .ink-name {
      font-size: 0.7rem;
    }
  }
}
