$size: 4rem;

.ink-color-sticker {
  padding: 1rem;
  font-size: 1.6rem;
  position: relative;

  .ink-color {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    width: $size;
    height: $size;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
    box-shadow: 0px 3px 5px clr('shadow');
    cursor: pointer;
    position: relative;
  }
  &.-empty .ink-color {
    border: 1px dashed clr('border');
    box-shadow: none;
  }
  .ink-name {
    text-transform: uppercase;
    font-weight: 700;
    color: transparentize($color: clr('dark'), $amount: 0.5);
    font-size: 0.8rem;
    font-family: monospace;
  }
}
