inkapp-bucket {
  display: block;
  background: #fff;
  padding: 1rem;
  border-radius: 0;
  border-bottom: 1px dashed transparentize(clr('primary', 'theme'), 0.82);
  // box-shadow: 0px 8px 13px clr('shadow');
  margin-bottom: 1rem;
}
