.ink-settings-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
  border-bottom: 1px solid clr('border');
  font-family: $ink--font-family-roboto;
  padding: 1rem 0;
  h5 {
    font-size: 1.1rem;
    color: clr('primary', 'theme');
  }
  p {
    font-size: 0.9rem;
    color: clr('para');
  }
}
