.card.ink-user-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  h3 {
    font-size: 1rem;
    color: clr('dark', 'theme');
  }
  p {
    font-size: 0.9rem;
    margin: 0;
    opacity: 0.8;
  }
  > .pic {
    margin-right: 1rem;
  }
  > .detail {
    flex: 1;
  }
  > .action {
    margin-left: 1rem;
  }
}
