<div class="inkapp--titlebar" [ngClass]="{'-has-prompt':editable}">
  <div class="title" (dblclick)="allowEditing()">
    <i class="prefix">#{{index}}</i> {{title}}
  </div>
  <div class="action">
    <button class="btn -is-plain -is-compact --only-on-parent-hover" (click)="delete.emit()">
      <i class="ink-icon icon-trash text-danger"></i>
    </button>
  </div>
  <div class="prompt">
    <input type="text" class="form-control -is-inline" [(ngModel)]="newTitle" (keyup.enter)="done()" (keyup.esc)="cancel()">
  </div>
</div>