<div class="container">
  <div class="col-md-8 mx-auto">
    <h3 class="ink-page-title mb-5">
      <i class="ink-icon icon-settings"></i> Settings</h3>
    <inkapp-settings-item>
      <div class="description">
        <h5>Colors view</h5>
        <p>Change the look of an ink color</p>
      </div>
      <div class="action">
        <select name="" class="custom-select" (change)="onViewChange($event.target.value)">
          <option value="default">Default</option>
          <option value="thin">Thin</option>
        </select>
      </div>
    </inkapp-settings-item>
    <inkapp-settings-item>
      <div class="description">
        <h5>Export database</h5>
        <p>JSON file with all necessary information to import</p>
      </div>
      <div class="action">
        <button class="btn btn-primary" routerLink="/export">Export</button>
      </div>
    </inkapp-settings-item>

    <inkapp-settings-item>
      <div class="description">
        <h5>Delete app data</h5>
        <p>Will clear all data and reset to initial</p>
      </div>
      <div class="action">
        <button class="btn btn-danger" (click)="deleteDatabase()">delete</button>
      </div>
    </inkapp-settings-item>
  </div>
</div>