<div class="container">
  <div class="col-md-8 mx-auto">
    <h3 class="ink-page-title mb-5">
      <i class="ink-icon icon-settings"></i> Settings</h3>
    <inkapp-action-item-el>
      <div class="description">
        <h5>Colors view</h5>
        <p>Change the look of an ink color</p>
      </div>
      <div class="action">
        <select name="" class="custom-select" (change)="onViewChange($event.target.value)">
          <option value="default" [selected]="view.value=='default'">Default</option>
          <option value="thin" [selected]="view.value=='thin'">Thin</option>
        </select>
      </div>
    </inkapp-action-item-el>

  </div>
</div>

<div class="container mt-5">
  <div class="col-md-8 mx-auto">
    <h3 class="ink-page-title mb-5">
      <i class="ink-icon icon-settings"></i> Sync </h3>
    <inkapp-action-item-el>
      <div class="description">
        <h5>Sync</h5>
        <p>Save data in github gists</p>
      </div>
      <div class="action">
        <a (click)="requestAuth()" class="btn btn-outline-primary" *ngIf="!connectedToGithub">Connect to github</a>
        <a (click)="disconnect()" class="btn btn-link text-danger" *ngIf="connectedToGithub">Disconnect github</a>
      </div>
    </inkapp-action-item-el>

    <inkapp-action-item-el>
      <div class="description">
        <h5>Upload</h5>
        <p>Save local database to gists</p>
      </div>
      <div class="action">
        <a (click)="uploadToGists()" class="btn btn-outline-success">save</a>
      </div>
    </inkapp-action-item-el>

    <inkapp-action-item-el>
      <div class="description">
        <h5>Load database</h5>
        <p>Fetch from remote gist</p>
      </div>
      <div class="action">
        <a (click)="loadGists()" class="btn btn-outline-success">Load</a>
      </div>
    </inkapp-action-item-el>
  </div>
</div>


<div class="container mt-5">
  <div class="col-md-8 mx-auto">
    <h3 class="ink-page-title mb-5">
      <i class="ink-icon icon-settings"></i> Import and Export </h3>
    <inkapp-action-item-el>
      <div class="description">
        <h5>Export database</h5>
        <p>JSON file with all necessary information to import</p>
      </div>
      <div class="action">
        <button class="btn btn-primary" routerLink="/export">Export</button>
      </div>
    </inkapp-action-item-el>
    <inkapp-action-item-el>
      <div class="description">
        <h5>Delete app data</h5>
        <p>Will clear all data and reset to initial</p>
      </div>
      <div class="action">
        <button class="btn btn-danger" (click)="deleteDatabase()">delete</button>
      </div>
    </inkapp-action-item-el>
  </div>
</div>