<inkapp-magic-title [title]="bucketData.name" (changed)="onTitleChange($event)">
  #{{index}}
</inkapp-magic-title>
<div class="d-flex flex-wrap" [ngClass]="'ink-view-'+(settings|async)?.value">
  <ng-container *ngFor="let color of ink|async">
    <inkapp-ink [inkData]="color" [bucketId]="bucketData._id"></inkapp-ink>
  </ng-container>
  <span class="ink-color-sticker -empty" (click)="addNewInk()">
    <div class="ink-color">
      <i class="ink-icon icon-plus"></i>
    </div>
    <div class="ink-name">
      Add new
    </div>
  </span>
</div>