.ink-page-title {
  font-size: 1.2rem;
  color: clr('heading');
  .ink-icon {
    opacity: 0.8;
  }
}

.ink-pre {
  font-family: $ink--font-family-monospace;
  color: clr('dark');
  font-size: 1rem;
}
